:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.heading {
  border-bottom: 1px solid #eee;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0;
}

.card {
  background-color: #efefef;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}