@import "tailwindcss";

:root {
  --body-font: "DM Sans", sans-serif;
  --heading-font: "Crimson Text", sans-serif;
  --caption-font: "Roboto Mono", sans-serif;

  --primary-100: #DFECC6;
  --primary-200: #8E9C78;
  --primary-300: #485C11;

  --gray-6f: #6F6F6F;
  --gray-92: #929292;
  --divider: #e9e9e9;
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.heading-font {
  font-family: var(--heading-font);
}

.caption-font {
  font-family: var(--caption-font);
}